/*
    Stylesheet for the index page.
    Author: guylev38
    Date: 22/09/2025
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

* {
    font-family: "Roboto Mono", monospace;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

:root{

    /* Primary*/
    --lighter-blue: #CAFDF5;
    --light-blue: #61F3F3;
    --main-blue: #00B8D9;
    --dark-blue: #006C9C;
    --darker-blue: #003768;

    /* Fonts */
    --grey-100: #F9FAFB;
    --grey-700: #454F5B;
}

body{
    display: flex;
    flex-direction: row;
    height: 100vh;
    gap: 20rem;
    background-color: var(--lighter-blue);
}

.title{
    font-size: 2.5rem;
}

.sidebar{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;

    width: 10vw;
    padding: 20px;
    height: 100%;

    background-color: var(--dark-blue);
    color: var(--grey-100);
}

.sidebar-btn{
    padding: 15px;
    border-radius: 20px;
    border: none;

    color: var(--grey-100);
    background-color: var(--darker-blue);
}

.sidebar-btn:hover{
    background-color: var(--main-blue);

}

.devices{
    display: flex;
    align-self: center;
    justify-content: center;

    height: 80%;
    padding: 25px;
    border-radius: 10px;
}

